body, html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(img2.jpg);
    background-size: cover;
    background-position: center;
     
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}
.form-box {
    width: 400px;
    padding: 25px; 
    background: transparent;
    text-align: center;
    border: 3px solid black;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    position: relative;

}
.form-title {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}
.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="button"],
.form-box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 25px auto;
    padding: 15px 10px;
    text-align: center;
    border: 2px solid black;
    width: 230px;
    outline: none;
    border-radius: 15px;
    color: black;
    transition: 0.15s;

}
.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus{
    width: 275px;
    border-color:black;
}
.form-box button[type="button"],
.form-box input[type="submit"] {
    border: 0;
    background: white;
    border: 2px solid white;
    color: black;
}
.form-box button[type="button"]:hover {
background: none;
}
.form-box input[type="submit"]:hover {
background: none;
}
.register-link p a {
    display: flex ;
    justify-content:center;
    align-items: center;
    font-weight: 600;
    color: black;
}
.logo{
    border-radius: 20%;
    position: absolute;
    font-size: 20px;
    top: -88px;
    left:calc(52% - 90px);
    transform: translateX(-700px)

}

.section i{
    position: absolute;
    left: 115px;
    transform: translateY(-60px);
    font-size: 20px;
}